{% extends "base.twig" %}


{% block content %}
    <h1>Hey hallo!</h1>
    <p>Welkom op de MODX.nl, het portaal voor de Nederlandstalige MODX gebruikers en ontwikkelaars.</p>

    <ul>
        <li><a href="https://www.meetup.com/modx-nederland/">Geplande MODX bijeenkomsten</a></li>
    </ul>

    <p><a href="https://github.com/modmore/modx.nl">Help mee met deze site op GitHub &raquo;</a></p>
{% endblock %}